<!DOCTYPE html>
<html>
  <head>
    <meta charset="UTF-8" />
    <title>Update A Movie</title>
    <link rel="stylesheet" type="text/css" href="/static/styles.css" />
    <style>
      :root {
        --brand-color: #dc6e7c;
        --darkest-color: #262730;
        --dark-color: #434553;
        --mid-color: #8084a1;
        --light-color: #c6cae6;
        --lightest-color: #ffffff;
      }
    </style>
  </head>
  <body>
    <h1>Update A Movie</h1>
    <form id="update-form">
      <label>Movie ID:</label>
      <input type="text" id="update-movie-id" name="update-movie-id" required />
      <br />
      <label>New movie name:</label>
      <input type="text" id="new-movie-name" name="new-movie-name" required />
      <br />
      <label>New movie genre:</label>
      <input type="text" id="new-movie-genre" name="new-movie-genre" required />
      <br />
    </form>
    <button type="button" id="update-button" onclick="updateMovieById()">
      Update
    </button>
    <div id="update-result-message"></div>

    <script src="/static/api.js"></script>
  </body>
</html>
